<section data-ng-controller="CoffeesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Coffees</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="coffee in coffees" data-ng-href="#!/coffees/{{coffee._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="coffee.created | date:'medium'"></span>
				by
				<span data-ng-bind="coffee.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="coffee.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!coffees.$resolved || coffees.length">
    	No Coffees yet, why don't you <a href="/#!/coffees/create">create one</a>?
    </div>
</section>